body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}
#wrapper {
  background-color: #ccc;
  padding: 0.5rem;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.row input,
h2 {
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  padding: 5px 10px;
  margin: 3px;
  border: 1px solid black;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  cursor: pointer;
  letter-spacing: 3px;
}
h2 {
  background-color: #999;
  border-color: #999;
}
input[type="text"] {
  width: 243px;
}
